@import "../Main/Main.module.scss";

.menu {
  .logo {
    img {
      width: 82px;
      height: auto;
    }
  }
  ul {
    li {
      margin-bottom: 1px;
      .rect {
        width: 4px;
        height: 49px;
      }
      span {
        color: $basic-color;
      }
      &:hover,
      &.selected {
        cursor: pointer;
        svg {
          path {
            stroke: $purple-color;
          }
        }
        .rect {
          background-color: $purple-color;
          box-shadow: 0 2px 10px 0px rgba($color: $purple-color, $alpha: 0.67);
        }
        span {
          color: $header-color;
        }
      }
    }
  }
}
