
$header-color: #343434;
$basic-color: #7D7D7D;
$dropdown-color: #7C7C7C;
$crumbs-color: #656565;
$table-color: #6E6E6E;
$purple-color: #6666CC;

$font-basic-size: 14px;
$font-small-size: 12px;
$font-header-size: 20px;

$green-button-color: #55c97b;
$green-button-color-hover: #4bb46e;
$gray-button-color: #b1b1b1;
$gray-button-color-hover: #949292;

$radius: 5px;

@mixin thead-style {
  font-weight: normal;
  color: $header-color;
  border-bottom: none;
}

@mixin table-style {
  background-color: white;
  box-shadow: 0px 11px 21px 0px #28282812;
  border-radius: $radius;
}

@mixin button-style {
  background-color: $green-button-color;
  padding: 3px 20px 3px 16px;
  border-radius: $radius;
  border: none;
  color: white;
  font-size: $font-small-size;
  display: flex;
  align-items: center;
  &:hover {
    background-color: $green-button-color-hover;
    color: white;
  }
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: $font-header-size;
}