@import "../Layout/Layout.module.scss";
.header {
  .menu_button {
    @include center;
    width: 40px;
    height: 40px;
    color:$basic-color;
    border: 1px solid #d4d4d4;
    border-radius: $radius;
  }
  .header__svg {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    @include center;
    position: relative;
  }
  .header__svg_ellipse {
    position: absolute;
    top: 19px;
    left: 41px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #e42626;
    outline: 3px solid white;
  }
  .header__profile {
    background-color: white;
    border-radius: $radius;
    box-shadow: 0px 0px 16px rgba(136, 167, 245, 0.18);
    @include center;
    .avatar {
      overflow: hidden;
      position: relative;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      background-color: none;
      border: 2px solid #d9d9d9;
      img {
        width: 50px;
        height: 76px;
        position: absolute;
        left: -2px;
        z-index: 100;
      }
    }
    .header__profile_name {
      color: $basic-color;
    }
  }
}
