$offcanvas-horizontal-width: auto;
$bs-heading-color: #343434;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './components/Layout/Layout.module.scss';

body {
    background-color: #F8FAFF;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: $font-basic-size;
    line-height: 21px;
}